* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  background-color: hsl(0, 0%, 98%);
}

.link {
  text-decoration: none;
  color: hsl(200, 15%, 8%);
}

/* navbar */

nav {
  width: 100%;
  box-shadow: 0px 4px 5px 0px rgba(224, 215, 224, 1);
  background-color: #fff;
}

nav .navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  color: hsl(200, 15%, 8%);
}

nav h1 {
  font-size: 1.4rem;
  cursor: pointer;
}

nav .theme-container {
  display: flex;
  gap: 10px;
  align-items: center;
  color: hsl(0, 0%, 24%);
}

nav .icon {
  font-size: 1.2rem;
  transform: rotate(-30deg);
  font-weight: 300;
  cursor: pointer;
}

nav .theme-container span {
  font-weight: 900;
  font-size: 1.1rem;
}

/* countries */

.countries {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
}

.countries-container {
  max-width: 1440px;
  margin: 0 auto;
}

/* filter countries */

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
}

.inputBox {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 1.2em;
  width: 25%;
  border-radius: 6px;
  box-shadow: 1px 4px 19px 5px rgba(214, 214, 214, 1);
}

.inputBox input {
  border: none;
  outline: none;
  width: 100%;
  color: hsl(0, 0%, 52%);
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  min-width: 15%;
  position: relative;
}

.select .select-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 7px;
  font-weight: 600;
  padding: 20px;
  color: hsl(0, 0%, 52%);
  cursor: pointer;
  width: 100%;
}

.list {
  background-color: #fff;
  width: 100%;
  list-style-type: none;
  padding: 20px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 110%;
  border-radius: 6px;
}

.list li {
  margin-bottom: 5px;
  color: hsl(200, 15%, 8%);
  font-weight: 600;
}

/* Country Card */

.countries-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 100px;
  margin-top: 40px;
}

.country-card-container {
  background-color: #fff;
  min-width: 20%;
  max-width: 300px;
  border-radius: 10px;
  cursor: pointer;
  padding-bottom: 1.5em;
  box-shadow: -2px -1px 12px 4px rgba(0, 0, 0, 0.42);
}

.content {
  padding: 0 15px;
  margin-top: 20px;
}

.country-flag {
  min-width: 100%;
}

.country-card-container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
}

.country-card-container h1 {
  font-size: 1rem;
}

.country-card-container ul {
  list-style: none;
  margin-top: 1em;
}

.country-card-container li {
  margin-top: 7px;
}

.country-card-container li span {
  font-weight: 900;
}

/* country details page*/

.country-details-container {
  max-width: 1440px;
  margin: 0 auto;
}

.back-btn-container {
  margin: 4em 0;
  cursor: pointer;
  display: flex;
  padding: 10px 50px;
  align-items: center;
  max-width: 120px;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 4px 19px 5px rgba(214, 214, 214, 1);
}
.country-info-container {
  display: flex;
  margin-top: 5em;
}

.country-image-box {
  flex: 1;
}
.country-image-box img {
  width: 600px;
  height: 400px;
}

.contentBox {
  padding-top: 4em;
  flex: 1;
}

.contentBox h1 {
  font-weight: 800;
  font-size: 2rem;
}

.content-list {
  display: flex;
  justify-content: space-between;
}

.content-list-first {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  gap: 10px;
}

.content-list-second {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  gap: 10px;
}

.list-item span {
  font-weight: 800;
}

.border-countries {
  margin-top: 4em;
  display: flex;
  gap: 10px;
  align-items: center;
}

.border-country {
  padding: 10px 15px;
  border: none;
  box-shadow: 1px 4px 19px 5px rgba(214, 214, 214, 1);
  cursor: pointer;
}
